

body {
    /* background-color: gray; */
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Shrikhand', cursive;
  font-size: 25px;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9e2e6;
  color: #00473e;
}

section.heading h1 {
  position: relative;
  top: 80px;
}


#message {
  display: flex;
  position: relative;
  top: -70px;
  margin: 0 0 35px 0;
  font-size: 25px;
  font-family: 'Chango', cursive;
}

section.board {
  top: -80px;
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
  border: 3px solid #00473e;
}

div {
  top: -100px;
  border: 3px solid #00473e;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color: #F2F7F5;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}



div img {
  object-fit: cover;
  width: 100%
}

button {
  margin-top: -60px;
  background-color: #faae2b;
  color: #00473e;
  font-family: 'Chango', cursive;
  font-size: 20px;
  border-radius: 0%;
  position: relative;
}

section.heading h2{
  display: flex;
  position: relative;
  top: -85px;
  left: 220px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 55px;
  color: #fa5246;
  transform-origin: 0 0;
  transform: rotate(20deg);

}
/* 
-- COLOR LIST -- 
#094067  dark blue
#00473e dark green
#faae2b yellow
#fa5246 orange
#3da9fc blue for background
#f06157 lighter orange for drop bg
#475d5b grey green 

*/